<h1>Anagram Check</h1>
<form action="/anagrams-form">
  <div class="form-group">
     <label for="first_word">First Word to Compare</label>
     <input id="first_word" name="first_word" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="second_word">Second Word to Compare</label>
     <input id="second_word" name="second_word" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="third_word">Third Word to Compare</label>
     <input id="third_word" name="third_word" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="fourth_word">Fourth Word to Compare</label>
     <input id="fourth_word" name="fourth_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-info">Anagrams</button>
</form>
